<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HomeWork_Leson_2_v0.0/src/com/homework/workpeople/Human.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.homework.workpeople.Human"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HomeWork_Leson_2_v0.0"/>
</launchConfiguration>
